/* Variables */
$text_color : rgb(30, 30, 30);
$text_font : Arial, Helvetica, sans-serif;
$text_size : 18px;

/* Base */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_font;
    font-size: $text_size;
    color: $text_color;
}

/* Media Queries */
$MQPhone1 : 320px;
$MQPhone2 : 375px;
$MQPhone3 : 425px;
$MQPhone4 : 540px;
$MQTablet1 : 768px;
$MQTablet2 : 820px;
$MQPC_1 : 1024px;
$MQPC_2 : 1280px; /* Default */
$MQPC_3 : 1360px;
$MQPC_4 : 1440px;
$MQPC_5 : 1600px;
$MQPC_6 : 1920px;
$MQPC_7 : 2048px;
$MQPC_8 : 2560px;

/* Media Query Base */

/* @media (min-width: #{AAA}) and (max-width: #{AAA}) {
    
}
*/

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(236, 127, 255);
    .links {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        list-style: none;
        img {
            width: 24px;
        }
        li {
            a {
                font-size: 18px;
                background-color: red;
                display: inline-block;
                height: 24px;
            }
            img {
                margin-right: 8px;
            }
        }
    }
}

/* NAVBAR END */


/* CONTENT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 52, 52);
    .content {
        width: 95%;
        margin-bottom: 64px;
        background-color: rgba(255, 226, 194, 0.88);
        h1 {
            font-size: 114px;
            text-align: center;
        }
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 840px;
        }
        p {
            display: block;
            width: 840px;
            margin: 24px 0;
        }
    }
}

/* CONTENT END */